<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hệ thống Quản lý Đơn hàng</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Trang chủ
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="bi bi-box-seam-nav-menu" aria-hidden="true"></span> Sản phẩm
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="bi bi-tags-nav-menu" aria-hidden="true"></span> Danh mục
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="orders">
                        <span class="bi bi-cart-nav-menu" aria-hidden="true"></span> Đơn hàng
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="combos">
                        <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> Combo
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin,Staff">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="users">
                                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Người dùng
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="status">
                                <span class="bi bi-flag-nav-menu" aria-hidden="true"></span> Trạng thái
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
